.titlebar-spacer[type="pre-tabs"],
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}

urlbar-container,
.urlbar-input-box {
  border: none !important;
}

#urlbar[pageproxystate="invalid"]:not([usertyping],[searchmode]) #urlbar-input::placeholder{ color: transparent }
#urlbar[pageproxystate="invalid"]:not([usertyping],[searchmode]) .urlbar-input-box::before{
  content: "";
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0.69;
  pointer-events: none;
}

#urlbar {-moz-appearance: none !important;
font-family: Helvetica !important;
font-size: 8pt !important; 
}

#urlbar, #urlbar-container {
  min-width: 150px !important;
  max-width: 150px !important;
  padding-block: 0 !important;
}

/* Menu button */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  order: -2 !important;
  margin: 2px !important;
  display: none !important;
}

/* Hide Window control buttons (min, resize and close) 
.titlebar-buttonbox-container {
  display: none !important;
  margin-right: 12px !important;
}*/

/* Hide Page back and foward buttons*/
/*#back-button,*/
#forward-button
{
  display: none !important
}

/* Hide Extensions button 
#unified-extensions-button {
    position: absolute !important;
    opacity: 0 !important;
  size: 1px !important;
}*/

/* All tabs (v-like) button */
#alltabs-button {
  display: none !important
}

/* Hide Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/* Hide URL bar icons */
#identity-permission-box,
#identity-icon-box,
#picture-in-picture-button,
#tracking-protection-icon-container,
#reader-mode-button,
#translations-button,
#userContext-icons,
#pageAction-urlbar-_testpilot-containers
{
  display: none !important
}

/* Do not technically hide the bookmark star so that context menu popup still works*/
#star-button-box{
  width: 0.1px !important;
  overflow: hidden !important;
  padding-inline: 0 !important;
}






/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/navbar_tabs_oneliner_tabs_on_left.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/*Make tabs and navbar appear side-by-side tabs on left */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

:root[uidensity="compact"]{
  --tab-block-margin: 2px !important;
  }

/* Modify these to change relative widths or default height */
#navigator-toolbox{
  --uc-navigationbar-width: 30vw;
  --uc-toolbar-height: 40px;
  --uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
}
#titlebar{
  will-change: unset !important;
  transition: none !important;
  opacity: 1 !important;
}
#scrollbutton-up,
#scrollbutton-down{ border-block-width: 2px !important; }

/* Override for other densities */
:root[uidensity="compact"] #navigator-toolbox{ --uc-toolbar-height: 34px;}
:root[uidensity="touch"] #navigator-toolbox{ --uc-toolbar-height: 44px; }

:root[uidensity="compact"] #urlbar-container{
  --urlbar-container-height: var(--uc-toolbar-height) !important;
  padding-block: 0 !important;
}
:root[uidensity="compact"] #urlbar{
  --urlbar-container-height: var(--uc-toolbar-height) !important;
}

/* prevent urlbar overflow on narrow windows */
/* Dependent on how many items are in navigation toolbar and tabs-/nav-bar ratio - ADJUST AS NEEDED */
@media screen and (max-width: 1600px){
  #urlbar-container{ min-width:unset !important }
}

:root[tabsintitlebar] #toolbar-menubar{
  height: initial !important;
}
:root[tabsintitlebar] #toolbar-menubar[inactive] > :not(.titlebar-buttonbox-container){
  opacity: 0;
  pointer-events: none;
}
:root[tabsintitlebar] #toolbar-menubar[inactive]{
  margin-bottom: calc(0px - var(--uc-toolbar-height));
}

#TabsToolbar > .titlebar-buttonbox-container,
.titlebar-spacer[type="post-tabs"]{
  display: none;
}
#TabsToolbar{
  margin-right: var(--uc-navigationbar-width);
  --tabs-navbar-shadow-size: 0px;
}

#tabbrowser-tabs{
  --tab-min-height: calc(var(--uc-toolbar-height) - 2 * var(--tab-block-margin,0px)) !important;
}

#toolbar-menubar[autohide="true"] > .titlebar-buttonbox-container{
  min-height: var(--uc-toolbar-height) !important
}
#tabbrowser-tabs,
.tabbrowser-tab[pinned]{
  min-height: var(--tab-min-height) !important;
}
#nav-bar{
  margin-left: calc(100vw - var(--uc-navigationbar-width));
  margin-top: calc(0px - var(--uc-toolbar-height));
  background-color: #0000 !important;
}

/* Override style set in window_control_placeholder_support.css  */
#nav-bar{ border-left-width: 0px !important }
#nav-bar::before{ display:none !important }

/* Rules specific to window controls on left layout */
@media (-moz-bool-pref: "userchrome.force-window-controls-on-left.enabled"),
       (-moz-platform: macos),
       (-moz-gtk-csd-reversed-placement){
  :root:not([inFullscreen]) #TabsToolbar-customization-target > .titlebar-spacer[type="pre-tabs"]{
    width: var(--uc-window-drag-space-post) !important;
    display: flex !important; 
  }
  #TabsToolbar > .titlebar-buttonbox-container{
    display: flex;
  }
}

/* 1px margin on touch density causes tabs to be too high */
.tab-close-button{ margin-top: 0 !important }

/* Make opened urlbar overlay the toolbar */
#urlbar[open]:focus-within{
  min-width: var(--uc-urlbar-min-width,none) !important;
  right: 0 !important;
  left: auto !important;
}

/* Hide dropdown placeholder */
#urlbar-container:not(:hover) .urlbar-history-dropmarker{ margin-inline-start: -28px; }

/* Fix customization view */
#customization-panelWrapper > .panel-arrowbox > .panel-arrow{ margin-inline-end: initial !important; }












/*  Removes urlbar border/background  */
#urlbar-background {
  border: none !important;
  outline: none !important;
  transition: .15s !important;
}

/*  Removes the background from the urlbar while not in use  */
#urlbar:not(:hover):not([breakout][breakout-extend]) {
    > #urlbar-background {
        box-shadow: none !important;
        background: #0000 !important;
    }
}

#navigator-toolbox {
    border: none !important
}

/* Fades window while not in focus */
#navigator-toolbox-background:-moz-window-inactive {
  filter: contrast(75%)
}

/* Remove fullscreen warning border */
#fullscreen-warning {
  border: none !important;
  background: -moz-Dialog !important;
}

/* =================TABS================= */

/* Multiaccount Container Identifier Color - Glowing line at bottom. */
.tabbrowser-tab > .tab-stack > .tab-background > .tab-context-line
{
  background-color: var(--identity-icon-color) !important;
  height: 0px !important;
  border-radius: 1px !important;
  margin: 31px var(--tab-border-radius) 0px !important;
  box-shadow: -30px 15px 50px 1px var(--identity-icon-color) !important;
}

.tabbrowser-tab:not(:pinned):not([visuallyselected], [multiselected]) {
    min-width: 100px !important;
}

.tabbrowser-tab:not(:hover):not([visuallyselected], [multiselected]) {
    transition: .1s !important;
    filter: opacity(35%) !important;
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon, .tabbrowser-tab:is([visuallyselected], [multiselected]) {
    background: none !important;
    filter: none !important;
    & .tab-background {
        background: none !important;
        box-shadow: none !important;
        /*border-bottom: 2px solid AccentColor !important;*/
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}

.tabbrowser-tab:hover .tab-background {
    background: none !important;
    min-width: 30px !important; /* Adjust the width as needed */
}

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
  > #tabbrowser-arrowscrollbox
  > .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) { margin-inline-start: 0 !important; 
}

/* show favicon when media is playing but tab is hovered */
.tab-icon-image:not([pinned]) { opacity: 1 !important; }

.tab-label {
    /* font-family: Helvetica bold !important;  */
    font-size: 12px !important; /* Adjust the font size as needed */
}

/* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {

  top: 5px !important;
  z-index: 1 !important;

  padding: 1.5px !important;
  inset-inline-end: -8px !important;
  width: 16px !important; height: 16px !important;

  border-radius: 10px !important;
} 

.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {

  top: 0 !important;

  padding: 0 !important;
  margin-inline-end: 5.5px !important;
  inset-inline-end: 0 !important;

}

/* style and position speaker icon */
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {

  stroke: transparent !important;
  background: transparent !important;
  opacity: 1 !important; fill-opacity: 0.8 !important;

  color: currentColor !important;

  stroke: var(--toolbar-bgcolor) !important;
  background-color: var(--toolbar-bgcolor) !important;

  margin-right: 15px !important;
} 


/*  Tabs close button  */
.tabbrowser-tab:not(:hover) .tab-close-button {
    opacity: 0% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
}
.tab-close-button[selected]:not(:hover) {
    opacity: 45% !important;
    transition: 0.3s !important;
    display: -moz-box !important;
    background: none !important;
}
.tabbrowser-tab:hover .tab-close-button {
    opacity: 50%;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}
.tab-close-button:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}
.tab-close-button[selected]:hover {
    opacity: 100% !important;
    transition: 0.3s !important;
    background: none !important;
    cursor: pointer;
    display: -moz-box !important;
}


#urlbar:not([focused]) #urlbar-input, /* ID for Firefox 70 */
#urlbar:not([focused]) .urlbar-input{
  text-align: left !important;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/minimal_in-UI_scrollbars.css made available under Mozilla Public License v. 2.0*/
/* Changes various in-UI scrollabars to be slim and more subtle */
.panel-subview-body,
#permList,
scrollbar{
 color: inherit;
 scrollbar-color: currentColor transparent;
 scrollbar-width: thin 
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/compact_urlbar_megabar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
/* Make urlbar appear more compact */
#urlbar[breakout]{
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2 ) !important;
}
#urlbar[breakout]:not([open]){
  bottom: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
}
.urlbarView{
  margin-inline: 0 !important;
  width: auto !important;
}
.urlbarView-row{
  padding: 0 2px !important;
}
.urlbarView-row-inner{
  padding-inline-start: 4px !important;
}
#urlbar-background{
  animation: none !important;
}
.urlbar-input-container{
  padding: 0px 1px !important;
  height: initial !important; 
}
#identity-icon{
  margin-block: var(--urlbar-icon-padding);
}
.urlbarView > .search-one-offs:not([hidden]){
  padding-block: 0px !important;
}

/* Make urlbar popup appear full size like it did before urlbar re-design */
.urlbarView-row-inner{
   /* This sets how far the dropdown-items are from window edge */
  padding-inline-start: 6px !important;
}

/* for some reason this is needed to disable URLBAR border */
}

#urlbar[focused]{ 
  box-shadow: inset 0 0 0 1px var(--toolbar-field-focus-border-color, highlight);
  border: none !important;
}

.urlbarView{
  position: absolute !important;
  margin: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  border-width: 1px 0;
  top: var(--urlbar-container-height);
  background-color: var(--toolbar-field-focus-background-color, inherit);
  z-index: 4;
  box-shadow: 0 1px 4px rgba(0,0,0,.05);
}

#urlbar > .urlbar-input-container{ padding: 0px !important; width: auto !important; height: auto !important; }
#urlbar > #urlbar-background{ display: none !important; }

/* This may seem pretty weird, but it gets around an issue where the height of urlbar may suddenly change when one starts typing into it */
/* If you are otherwise modifying the urlbar height then you might need to modify the height of this too */
#urlbar > .urlbar-input-container::before{ content: ""; display: flex; height: 24px; }

/* Context Menu Colors */
menupopup{
  --menuitem-hover-background-color: #e0e0e6 !important;
  --menu-background-color: #f9f9fb !important;
  --menu-color: #15141a !important;
  --menuitem-disabled-hover-background-color: rgba(224, 224, 230, 0.4) !important;
  --menu-disabled-color: rgba(21, 20, 26, 0.4) !important;
  --menu-border-color: #cfcfd8!important;
  --menu-icon-opacity: 0.7 !important;
}

/* add to bookmark popup and bookmark lists menu color */
:root {
  --bookmark-block-padding: 4px 6px !important;
  --arrowpanel-menuitem-padding: 2px 8px !important;
  --tab-block-margin: 0px !important;
  --tab-border-radius: 0px !important;
  --arrowpanel-border-radius: 0px !important;
  --arrowpanel-padding-inline: 2px !important;
  /* all menu color override except context menu */
  --arrowpanel-background: rgba(28, 27, 34, 1) !important;
  --arrowpanel-color: #fafafa !important;
  --arrowpanel-hover-background-color: #333 !important;
  --arrowpanel-disabled-hover-background-color: #333 !important;
  --arrowpaenl-disabled-color: #555 !important;
  --arrowpanel-border-color: #333 !important;
  --arrowpanel-icon-opacity: 0.7 !important;
}

/*Reduce size of Bookmark Toolbar icons to distinguish from Bookmarks Button and also grant more space for tabs*/
.bookmark-item:not(#bookmarks-menu-button) > .toolbarbutton-icon {
  width: 12px !important;
  height: 12px !important;
  filter: grayscale(85%);
 }

#back-button,
#stop-reload-button,
#unified-extensions-button{
  scale: 94%;
}

#new-tab-button {
  scale: 80%;
}

#tabs-newtab-button > .toolbarbutton-icon{ padding: 9px 9px 11px 11px !important; }
